.editing-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25vw;
    margin-right: 25vw;
}

@media screen and (max-width: 800px) {
    .editing-container {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
}

.back-button1{
    box-sizing: border-box;
    color: black;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid #efeff1;
    margin-top: 30px;
    /* margin-left: 25vw; */
    padding: 10px;
}

.marks_ 
{
    display: none;
}

input[type="checkbox"]:checked + p {
    background-color: #0091de;
}

.soder-container{
    margin-top: 10px;
    /* margin-left: 25vw; */
    /* margin: 10px auto; */
    margin-bottom: 10px;
    /*height: 600px;*/
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid #efeff1;
    padding: 10px 20px ;
}

.button-edit{
    padding-top: 12px;
    color: #7b7b7b ;
}

.save-button{
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #efeff1;
    background-color: #0091de !important;
    border-radius: 4px;
    padding: 10px ;
}

.name-task1{
    padding: 20px 20px 20px 5px;
    height: 10px;
    width: 100%;
    box-sizing: border-box;
    color: black;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid #efeff1;
}

.prioriti-select{
    padding: 8px 8px 8px 5px;
    height: 40px;
    width: 30%;
    box-sizing: border-box;
    color: black;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid #efeff1;
}

.table_{
    box-sizing: border-box;
    color: black;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid #efeff1;
    width: 100%;
}

.otm-container_{
    padding: 5px;
    width: 30%;
    box-sizing: border-box;
    color: black;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid #efeff1;
} 
